{{ partial "brand/letterhead" . }}
<div class="doc-report-title-page">
  <div class="doc-report-title-page__type">Report</div>
  <h1 class="doc-report-title-page__title">{{ .Title }}</h1>
  {{- with .Params.subtitle }}<p class="doc-report-title-page__subtitle">{{ . }}</p>{{- end }}
  <div class="doc-report-title-page__meta">
    {{- with .Params.author }}<div>{{ . }}</div>{{- end }}
    <div>{{ .Date.Format "January 2, 2006" }}</div>
    {{- with .Params.revision }}<div>Revision {{ . }}</div>{{- end }}
  </div>
</div>
