<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang | default "en" }}">
<head>
  <meta charset="UTF-8">
  <title>{{ .Title }}</title>
  {{ partial "brand/css-vars" . }}
  {{ partial "print-doc-css" . }}
  {{ partial "scripts/mathjax.html" . }}
</head>
<body class="doc-print doc-datasheet-print">
  <table class="doc-page">
    <tfoot><tr><td>{{ partial "brand/doc-footer" . }}</td></tr></tfoot>
    <tbody><tr><td>
      {{- $meta := slice }}
      {{- with .Params.part_number }}{{ $meta = $meta | append (printf "P/N: %s" .) }}{{ end }}
      {{- with .Params.revision }}{{ $meta = $meta | append (printf "Rev %s" .) }}{{ end }}
      {{- $meta = $meta | append (.Date.Format "January 2006") }}
      {{ partial "brand/title-page" (dict "page" . "type" "Datasheet" "subtitle" .Params.description "meta" $meta) }}
      <div class="doc-body">
        {{- .Content -}}
      </div>
    </td></tr></tbody>
  </table>
</body>
</html>
